body {
    margin: 0;
}
#nav {
    padding: .5em 1em .5em .1em;  /* top right bottom left */
    margin-right: 1em;
}
#nav li {
    padding: .5em 0;
}
#section span.#blurb{
    padding: 2em;
    margin-top: 1em;
}
td {
    padding: .5em;
}
#jobblurb {
    margin: 0 .5em; /* vertical horizontal */
}
#jobblurb p {
    margin: 0 0 .5em 0 ;  /* top right bottom left */
}
#apply td {
    padding: .2em;
}
address {
    padding: .5em;
}
