#nav {
    width: 10%;
    float: left;
}
td.performancemonth {
    width: 25%;
}
td.imagedescription {
    width: 60%;
}
#jobblurb, #apply {
    float: left;
}
#jobblurb {
    width: 20%;
}
#apply {
    width: 50%;
}
address {
    position: relative;
    float: right;
    right: 1em;
    bottom: 1em;
}
#footer {
    height: 3em;
    width: 100%;
}