body {
    margin: 0;
}
#page {
    font-family: "arial" "san-serif";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c7dbb6;
    height: 100%;
}
#header {
    height: 120px;
    text-align: center;
    font-family: "Old English Text MT";
    font-size: 48px;
    background-color: #8ca99c;
    line-height: 120px;
}
#logo {
    float: left;
}
ul {
    margin: 0;
}
#nav {
    font-size: 16px;
    float: left;
    padding-top: 1em;
    padding-left: .1em;
    padding-right: 1em;
    padding-bottom: 1em;
    background-color: #e7eec5;
}
#nav ul {
    list-style-type: none;
}
#nav li {
    padding: .5em 0;
    text-indent: -2em;
}
#nav a {
    text-decoration: none;
}
#section {
    position: relative;
    line-height: 1.5em;
    font-size: 16px;
    padding: 1em;
    margin-left: 140px;
}
td {
    padding: .5em;
}
td.menuname {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}
td.menublurb {
}
td.menuprice {
}
td.performancemonth {
    text-align: center;
    font-weight: bold;
    font-size: 18px; 
    width: 25%;
}
td.imagemonth {
}
td.imagedescription {
    width: 60%;
}
#jobblurb, #apply {
    float: left;
}
#jobblurb {
    width: 20%;
    margin-top: 0em;
    margin-left: .5em;
    margin-right: .5em;
}
#jobblurb p {
    margin: 0;
    margin-bottom: .5em;
}
#apply {
    width: 50%;
}
#apply td {
padding: .2em;
}
#footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #8ca99c;
    height: 3em;
    line-height: 1.5em;
    font-style: italic;
    width: 100%;
}
address {
    line-height: 1.2em;
    padding-bottom: .5em;
    right: 2%;
    bottom: 2%;
    position: absolute; 
}